# Directory path where the model and audio reference are stored.
RESOURCES=<RESOURCES>

# The model architecture (currently accepted: dia).
MODEL_NAME=<MODEL_NAME>

#Select hardware: CPU or CUDA
HARDWARE=<HARDWARE>

# The audio reference path during generating sound.
AUD_REF=<AUD_REF>

# Audio speed multiplier for generated speech
SPEED_FACTOR=<SPEED_FACTOR>